<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.gnastnosaj.filter.magneto.standalone">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:name="com.github.gnastnosaj.filter.magneto.standalone.Magneto"
                 android:icon="@drawable/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <provider
                android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
                android:authorities="com.github.gnastnosaj.filter.magneto.standalone.searchhistorydatabase"
                android:exported="false"
                android:protectionLevel="signature"
                android:syncable="true"/>

        <activity android:name="com.github.gnastnosaj.filter.magneto.standalone.ui.activity.MagnetoActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

            <intent-filter>
                <data android:scheme="magneto"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
